# Environment files
.env
.env.*.local

# Compiled output
/dist
/.build
/.cache

# Node modules
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.vscode/.history/
.vscode/.workspaceStorage/

# TypeScript
*.tsbuildinfo

# Misc
*.tgz
*.swp
*.swo
*.swn

# Build and deployment
build/
tmp/
